<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiu.paper_management.mapper.OtherMapper">
    <!--    动态sql-->
    <!-- id 为方法名，resultType为返回类型，返回列表为内部对象类型而非列表本身-->
    <!--即使没有进入收藏也返回，用left join，搭配distinct一篇文章可以进入多个收藏夹-->
    <select id="getComment" resultType="com.qiu.paper_management.pojo.Comment">
        select * from paper_management.comment
        <!--where标签实现可选的条件，用if环绕-->
        <where>
            <if test="categoryId>0">
                category_id=#{categoryId}
            </if>
            <if test="articleId>0">
                article_id=#{articleId}
            </if>
        </where>
    </select>
</mapper>